*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#6c6b6b;
}

.header-line{
  height:50px;
  background-color:#ff9a4b;
}
.box-contents{
  display:flex;
  justify-content:center;
  margin-top:50px;
}
.box1{
  width:300px;
  height:300px;
  background-color:#eeeeee;
  margin:0 15px 0 15px;
}
.step1-box{
  display:inline-block;
  background-color:#ff94ab;
}
.image1{
  width:280px;
  height:150px;
  background-image:url(ch9-img/flow01.png);
  background-size:cover;
  background-position:bottom center;
}

.box2{
  width:300px;
  height:300px;
  background-color:#eeeeee;
  margin:0 15px 0 15px;
}
.step2-box{
  display:inline-block;
  background-color:#ff94ab;
}
.image2{
  width:280px;
  height:150px;
  background-image:url(ch9-img/flow02.png);
  background-size:cover;
  background-position:bottom center;
}

.box3{
  width:300px;
  height:300px;
  background-color:#eeeeee;
  margin:0 15px 0 15px;
}
.step3-box{
  display:inline-block;
  background-color:#ff94ab;
}
.image3{
  width:280px;
  height:150px;
  background-image:url(ch9-img/flow03.png);
  background-size:cover;
  background-position:bottom center;
}